body{
    background: url("../imagens/background.jpeg") repeat-x;
    background-size: auto 100vh;
    height: 100vh;
    display: grid;
    grid-template-areas: "container formulario";
}
#container{
    grid-area: container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    color: #fff;
}
#container h1{
    font-size: 30px;
    font-weight: 800px;
}
#container p{
    text-align: justify;
    width: 400px;
    font-size: 20px;
    justify-content: flex-start;
    text-align: left;
}
#formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}
#formulario form{
    grid-area: formulario;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 700px;
    padding: 20px;
}
#formulario form input{
    margin-top: 20px;
    width: 90%;
    height: 30px;
    padding: 20px;
    border-radius: 10px;
}
#formulario form textarea{
    width: 90%;
    height: 400px;
    border-radius: 10px;
    resize: none;
}
#formulario form p{
    width: 100%;
    margin-left: 50px;
}
#formulario form #btnEnviar{
    padding: 10px;
    width: 90%;
    color: #fff;
    font-weight: 800;
    background-color: #3CCC87;
    border-radius: 5px;
}
#formulario form #btnEnviar:hover{
    opacity: 0.5;
}
.vazio{
    border-color: red;
}
.comConteudo{
    border-color: #3CCC87;
}
.preenchimentoObrigatorioHidden{
    color: red;
    font-size: 10px;
    display: none;
}
.preenchimentoObrigatorio{
    color: red;
    font-size: 10px;
    display: block;
}
.textArea{
    margin-top: 30px;
    padding: 15px;
}